button {
  margin: 5px;
  width:fit-content;
  padding: 10px;
  border-radius: 5px;
  border-color: #50CB93;
  background-color: #50CB93;
  color: white;
  font-size: 20px;

}

button:enabled {
  cursor: grabbing;
}

button:disabled {
  background-color: aquamarine;
}
