button {
  background-color: #50cb93;
  border-color: #50cb93;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  width: fit-content;
}

button:enabled {
  cursor: grabbing;
}

button:disabled {
  background-color: aquamarine;
}
