* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #50cb93;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
}

h1 {
  align-items: center;
  background-color: #50cb93;
  color: white;
  font-size: 50px;
  padding: 10px;
}

.container {
  display: flex;
  font-size: 25px;
  justify-content: center;
  padding: 10px;
}

.timer {
  align-items: center;
  display: flex;
  font-size: 30px;
  margin-right: 50px;
}

.questions-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

h2 {
  font-size: 30px;
  padding: 20px;
}

p {
  font-size: 25px;
  padding: 20px;
}