.login-logo {
  height: 20vmin;
  pointer-events: none;
}

.login-header {
  align-items: center;
  background-color: #50CB93;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 30vh;
}

.form {
  margin-top: 50px;
}
